@import '../../shared/styles/variables';
@import '../../shared/styles/fonts';
@import '../../shared/styles/mixins';
@import '../../shared/styles/base';

.actions {
  width: 10%;
}

.btn {
  @include btn;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn:disabled {
  pointer-events: all;
  cursor: not-allowed;
}

.btn:hover {
  color: $text_main;
}

@media screen and (max-width:636px) {

  .container-fluid {
    padding: 0px;
  }

  th {
    padding: 3px;
    font-size: 12px;
  }

  td {
    padding: 3px;
    font-size: 10px;
  }

  .btn {
    padding: 0px;
    font-size: 10px;
  }
}