<div class="spacer-60"></div>
<section class="container">
  <div class="categories-menu">
    <ul class="categories-list">
      <li class="categories-list-item" *ngFor="let category of categories">
        <a [routerLink]="['/thai-product/' + category.path]" routerLinkActive="active">{{ category.name }}</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3 mb-4" *ngFor="let product of userProducts">
      <div class="product">
        <div class="product-image-wrapper">
          <a class="product-image">
            <picture>
              <img [routerLink]="['/thai-product/' + product.category.path, product.id ]" [src]="product.imagePath"
                [alt]="product.name" (click)="toTop()">
            </picture>
            <ul class="product-labels">
              <li class="culinasia" *ngIf="product.culinasia" >CULINASIA MENU</li>
              <li class="rice" *ngIf="product.rice">NO RICE</li>
              <li class="veggie" *ngIf="product.veggie">VEGGIE</li>
            </ul>
          </a>
          <div class="image-top-right" >
            <button *ngIf="!product.favorites" class="fav-btn" (click)="toFavorites(product)"></button>
            <button *ngIf="product.favorites" class="full-fav-btn" (click)="toFavorites(product)"></button>
          </div>
          <div class="floating-buttons">
            <button class="btns" *ngIf="product.addIngredients">
              Додати складники
            </button>
            <button class="btns" (click)="addToBasket(product); toTop() " [routerLink]="['/checkout']">
              Швидке замовлення
            </button>
          </div>
        </div>
        <div class="product-title-wrap">
          <h6>
            <a [routerLink]="['/thai-product/' + product.category.path, product.id ]" (click)="toTop()">{{product.name}}</a>
          </h6>
          <div class="product-price-wrap">{{product.price*product.count}}</div>
        </div>
        <div class="product-desc">{{product.description | slice:0:100}}
          <span *ngIf="product.description.length>100">...</span>
        </div>
        <div class="product-controls">
          <div class="thumb-input-number">
            <button type="button" (click)="productCount(product, false)">-</button>
            <input [value]="product.count" readonly="" tabindex="-1" max="99">
            <button type="button" (click)="productCount(product, true)">+</button>
          </div>
          <button class="btns" (click)="addToBasket(product)">Замовити</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer-100"></div>
<ng-container *ngIf="currentUrl === '/thai-product/Thai%20lava%20grill'">
  <section class="seo">
    <div class="container-fluid">
      <img loading="lazy" src="../../../assets/images/home/seo_decor_one.svg" alt="" class="seo-decor-leaf">
      <img loading="lazy" src="../../../assets/images/home/seo_decor_two.svg" alt="" class="seo-decor">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-7 col-md-6 ">
          <h3 class="title"><span>Тайські</span> бургери — улюблений фаст-фуд в нестандартному виконанні</h3>
          <div class="text">
            <p>Хрустка булочка, сир, соковита котлета…Іноді так хочеться з'їсти смачний бургер! Хто сказав, що така
              страва буває лише у традиційному, американському виконанні? Шеф-кухарі NOA майстерно готують тайські
              бургери — смачні, пікантні та ситні. Вони відрізняються нестандартним поєднанням інгредієнтів, а також
              чудово смакують завжди: на обід, вечерю, на вечірці з друзями. Спробуйте, і ви точно захочете ще!
            </p>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  ЧИТАТИ БІЛЬШЕ
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h2>Як готують тайські бургери?</h2>
                  <p>Секрети смаку тайських бургерів — це майстерність шеф-кухарів NOA, лише добірні інгредієнти та
                    авторські рецепти, розроблені з турботою. Ми дбаємо про те, щоб кожен наш клієнт був щасливим та
                    ситим. А ще — повертався до нас знову і знову.
                  </p>
                  <p>Розкажемо трохи більше про те, як ми готуємо тайські бургери. Основа цієї справи — це хрустка булка
                    бріош, яку ми злегка підсмажуємо на грилі. Всередині — смачна начинка. Наприклад:
                  </p>
                  <ul>
                    <li>Курка діпфрай, карамелізована цибуля, помідори чері, салат аджан та соус Тай.
                    </li>
                    <li>Креветки та чері, салат айсберг, соус.
                    </li>
                    <li>Яловичина з карамелізованою цибулею, томатами, руколою, соусом Тай.
                    </li>
                  </ul>
                  <p>Така страва — дуже ситна. Тому її часто замовляють у нас на обід або вечерю. Також саме тайські
                    бургери чудово підходять для вечірки з друзями, або коли рідні приходять в гості. Така страва -
                    смачна та нестандартна. А ще — її дуже зручно їсти навіть без столових приборів. За смаком,
                    калорійністю та способом приготування, тайські бургери відрізняються від стандартних американських.
                    Тому обов'язково радимо спробувати їх хоча б для того, щоб порівняти ці дві страви між собою.
                  </p>
                  <p>Варто зауважити, що тайський бургер може бути як злегка пікантним, так і дуже гострим. Ми
                    обов'язково уточнимо, яку страву за рівнем гостроти готувати для вас, бо знаємо — це питання смаку
                    та особистих вподобань.
                  </p>
                  <h2>Коли хочеться чогось особливого: тайські бургери з доставкою у Львові</h2>
                  <p>Ми знаємо, як часто хочеться скуштувати щось новеньке. Тому ресторан NOA пропонує великий вибір
                    страв тайської кухні саме для вас. Обирайте тайський бургер та додавайте його у кошик. А ми
                    приготуємо та доставимо смачну страву спеціально для вас: з турботою та любов'ю. Адже прагнемо, щоб
                    ви були по-справжньому задоволені.
                  </p>
                  <p>Доставка тайських бургерів у Львові, яку пропонує ресторан NOA, це:
                  </p>
                  <ul>
                    <li>Швидко. Наші кур'єри привезуть страви за 45 хвилин у зеленій зоні, 55 — у жовтій, та 65 — у
                      червоній. Вони оминають всі затори у місті, щоб ви могли якомога швидше насолоджуватися улюбленим
                      бургером.
                    </li>
                    <li>Безкоштовно, якщо сума замовлення перевищує 300 гривень. Ви платите лише за позиції з меню,
                      доставка відбувається нашим коштом.
                    </li>
                    <li>Зручно — приймаємо різні способи оплати. Ви можете розрахуватися за своє замовлення готівкою та
                      карткою (при отриманні), або через систему LiqPay на етапі оформлення доставки.
                    </li>
                    <li>З турботою про вас — ви легко можете замінити складники у страві, вказати свої побажання щодо
                      рівня її гостроти. Приготуємо ідеальну страву саме для вас.
                    </li>
                  </ul>
                  <p>Ми працюємо без вихідних — щодня, з 10:00 до 21:00. Насолоджуйтесь улюбленими стравами тоді, коли
                    забажаєте. Ми чекаємо на ваші замовлення, та будемо раді, якщо ви станете нашим постійним клієнтом.
                    Смачного!
                  </p>
                </div>
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  згорнути
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="currentUrl === '/thai-product/Thai%20satay'">
  <section class="seo">
    <div class="container-fluid">
      <img loading="lazy" src="../../../assets/images/home/seo_decor_one.svg" alt="" class="seo-decor-leaf">
      <img loading="lazy" src="../../../assets/images/home/seo_decor_two.svg" alt="" class="seo-decor">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-7 col-md-6 ">
          <h3 class="title"><span>Сате</span> — тайський колорит на вашому столі </h3>
          <div class="text">
            <p>Азійська кухня — це справжнісінький вибух смаку. Тому ми впевнені: не варто обмежувати своє знайомство з
              нею лише суші та WOK. Шеф-кухарі NOA із задоволенням приготують для вас сате. Ця страва — смачна, пікантна
              та ситна. А ще — стане ідеальним вибором як для святкового, так і для буденного столу. Про те, як готують
              сате, які компоненти входять до складу цієї страви, та якими є секрети її ідеального смаку, ми розкажемо
              просто зараз.
            </p>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  ЧИТАТИ БІЛЬШЕ
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h2>Що таке сате та як його готують?</h2>
                  <p>Сате, або ж сатай — це популярна страва азійської кухні. Це мініатюрний варіант шашлику, який
                    подається з рисом, салатним міксом та різноманітними дресінгами — наприклад, кокосовим соусом або
                    соусом айолі. Сате може готуватися з креветками, тунцем, курятиною та іншими видами м'ясних
                    інгредієнтів, морепродуктів. Дуже часто, в азійських країнах ця страва подається, як закуска — перед
                    обідом або у якості доповнення до основного меню.
                  </p>
                  <p>Ніколи раніше не пробували сатай? В такому разі, обов'язково рекомендуємо скуштувати:
                  </p>
                  <ul>
                    <li>Креветки в софріто шою таре — вони подаються з рисом, салатом аджан, лаймом та соусом айолі.
                      Вдалий вибір для тих, хто полюбляє страви з морепродуктами.
                    </li>
                    <li>Курку в жовтому карі — з рисом, соусом тахіні, салатним міксом та кокосовим дресінгом. Одночасно
                      легка, але доволі ситна страва. Окрім того, курка в жовтому карі — доволі гостра. Вона
                      сподобається поціновувачам пікантної їжі.
                    </li>
                    <li>Тунець маринований в тайському Понзу — з салатним міксом, цибулевими чіпсами, лаймом та
                      кокосовим соусом. Страва має яскравий смак, але вона зовсім не гостра.
                    </li>
                  </ul>
                  <p>Головний секрет смаку сате NOA — це використання традиційних рецептів, лише якісні компоненти та
                    справжня любов до своєї справи. Наші шеф-кухарі готують для вас, як для себе. Ми любимо кожного
                    нашого клієнта та мріємо про те, щоб ви поверталися до нас знову і знову.
                  </p>
                  <p>Для вашої зручності, в кожній страві ми вказуємо перелік складників та рівень гостроти: від злегка
                    пікантного та дуже гострого. Саме тому, ви точно зможете вибрати той варіант сате, який точно вам
                    сподобається. А якщо бажаєте забрати чи замінити якийсь інгредієнт — просто повідомте про це нам під
                    час оформлення замовлення.
                  </p>
                  <h2>Доставка сате з NOA — смачно та швидко</h2>
                  <p>Якщо ви бажаєте скуштувати справжній тайський сатай, наші шеф-кухарі з радістю його приготують. Ми
                    знаємо всі секрети цієї страви. Тому обирайте страву та додавайте її в кошик. А ми подбаємо про
                    найпрофесійніше приготування та найшвидшу доставку.
                    <p>Розкажемо трохи більше про наші умови доставки:
                    </p>
                    <ul>
                      <li>Веземо страви у будь-який район Львова. Ми робимо доставку дуже швидко: за 45 хвилин у зеленій
                        зоні, у жовтій — за 55, у червоній — за 65. На карті або запитавши в оператора телефоном ви
                        можете перевірити, в які зоні знаходиться ваша адреса.
                      </li>
                      <li>Для замовлень на суму від 300 грн діє безкоштовна доставка.
                      </li>
                      <li>Оплатити замовлення можна різними способами — готівкою та карткою під час отримання (кур'єру),
                        або через систему LiqPay.
                      </li>
                      <li>Будь-які питання щодо оформлення замовлення — безкоштовні. Тож якщо вам потрібна допомога,
                        телефонуйте. Підкажемо, яку страву обрати, та як замовити її прямісінько до вас додому.
                      </li>
                    </ul>
                    <p>Ми працюємо щодня, з 10:00 до 21:00 без вихідних. Тож чекаємо на ваші замовлення. А якщо маєте
                      можливість, завітайте у наші ресторани: гарантуємо смачну їжу та приємну атмосферу!
                    </p>
                </div>
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  згорнути
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="currentUrl === '/thai-product/Thai%20wok'">
  <section class="seo">
    <div class="container-fluid">
      <img loading="lazy" src="../../../assets/images/home/seo_decor_one.svg" alt="" class="seo-decor-leaf">
      <img loading="lazy" src="../../../assets/images/home/seo_decor_two.svg" alt="" class="seo-decor">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-7 col-md-6 ">
          <h3 class="title"><span>Тайський</span> WOK — азійська кухня в серці Львова</h3>
          <div class="text">
            <p>Їжа ВОК приваблює всіх фанатів тайської кухні. Незвичайне поєднання смаків, велика кількість рецептів,
              пікантні соуси — перед такими стравами неможливо встояти! Саме тому, у ресторані NOA ми пропонуємо WOK на
              будь-який смак. Курячі крильця, рис, локшина — обирайте те, що вам подобається. Готуємо з турботою та
              любов'ю, щоб ви могли спробувати справжню азійську кухню з доставкою додому!
            </p>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  ЧИТАТИ БІЛЬШЕ
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h2>Як готують тайський WOK?</h2>
                  <p>Секрет приготування страв ВОК — у використанні спеціального посуду. А саме — сковороди WOK. Це
                    глибока сковорідка з тонким дном та сферичною формою, яка сприяє неповторному смаку страв. Їжа в
                    такому посуді готується дуже швидко, завдяки чому кожен компонент найкраще зберігає смакові та
                    ароматичні властивості.
                  </p>
                  <p>В азійських країнах, їжу ВОК готують вже понад 2 тисячі років. Спочатку для цього використовувалися
                    спеціальні дров'яні печі. Звичайно ж, в наш час рецепти таких страв суттєво змінилися, з'явилася
                    значно більша кількість варіацій компонентів. Але те, що залишається незмінним — це неповторний смак
                    страв.
                  </p>
                  <p>Їжа ВОК у нашому меню, яку ми обов'язково радимо скуштувати:</p>
                  <ul>
                    <li>Пад тай рис з морепродуктами — до страви на основі рису входять креветки, восьминоги, кальмари,
                      тофу, чилі джем, стручкова квасоля, синя цибуля, зелена цибуля та соус пад тай. Отримуємо злегка
                      пікантний, цікавий смак, перед яким неможливо встояти.
                    </li>
                    <li>Яловичину з тайським базиліком та імбиром — гостра страва, яка сподобається фанатам пікантної
                      кухні. До складу страви також входять такі компоненти, як капуста, устричний та соєвий соус.
                    </li>
                    <li>Курку чилі кеш’ю — подається зі стручковою квасолею, синьою цибулею, кінзою, цибулевими чіпсами,
                      чилі та арахісом. Соус — тай. Ця страва — злегка пікантна та дуже смачна.
                    </li>
                    <li>Пад тай з морепродуктами — до складу страви входять креветки, мідії, восьминіг, рисова локшина,
                      тофу, м'ясо кріля та сливовий соус. Додають особливого смаку такі компоненти, як бобові паростки,
                      синя та зелена цибуля, часник, смажений арахіс та дольки лайма.
                    </li>
                  </ul>
                  <p>Шеф-кухарі NOA ретельно вивчили всі секрети приготування справжнього тайського вок. Ми
                    використовуємо добірні компоненти високої якості — морепродукти, овочі, курятину, власноруч
                    приготовані соуси. Правильно зберігаємо компоненти та ретельно їх обробляємо. Готуємо для вас, як
                    для себе. Завдяки цьому, ви можете насолоджуватися неповторним смаком тайських страв, не виходячи з
                    дому. ВОК — ідеальна вечеря, обід чи святкова трапеза у колі друзів!
                  </p>
                  <h2>Справжній тайський ВОК з доставкою додому</h2>
                  <p>Іноді зовсім не хочеться купувати продукти та годинами стояти біля плити: знаємо про це з власного
                    досвіду. Саме тому, пропонуємо взяти цю справу на себе. Оберіть страви з меню та оформіть
                    замовлення, а про все інше подбаємо ми. Шеф-кухарі NOA приготують тайський вок для вас з турботою та
                    любов'ю. А кур'єри — швидко доставлять у будь-який район Львова!
                    <p>Замовляючи їжу в NOA, ви отримуєте:
                    </p>
                    <ul>
                      <li>Можливість легко та зручно обрати страви. Кожна позиція меню проілюстрована фото, а також має
                        детальний опис інгредієнтів, рівня гостроти.
                      </li>
                      <li>Швидку доставку у будь-який район Львова — привеземо страву всього за 45-65 хвилин прямісінько
                        до ваших дверей.
                      </li>
                      <li>Способи оплати на ваш вибір — ви можете розрахуватися при отриманні замовлення готівкою або
                        карткою, а також через систему LiqPay безпосередньо на сайті.
                      </li>
                      <li>Безкоштовну доставку при замовленні на 300 та більше гривень.
                      </li>
                    </ul>
                    <p>Працюємо для вас щодня, з 10:00 до 21:00. Замовляйте улюблені страви та насолоджуйтеся!
                    </p>
                </div>
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  згорнути
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<div class="spacer-100"></div>