@import 'src/app/shared/styles/variables';
@import '../../shared/styles/fonts';
@import 'src/app/shared/styles/base';
@import '../../shared/styles/mixins';

.content-block {
  font-family: $main-font;
}

.header-informer {
  background-color: #141414;
  color: #fff;
  z-index: 9;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 17px 0;
  font-size: 14px;
  font-weight: 500;

  span {
    font-size: 15px;
    margin-left: 10px;
  }

  a {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #2d7d7d;
  }

  a::before {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2d7d7d;
    transition: all 0.3s;
  }

  a:hover::before {
    width: 0;
    left: auto;
    right: 0;
  }
}

.decor-left {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 768px;
}

header {
  background-image: url('../../../assets/images/bg-header.jpg');
  position: relative;
  width: 100%;
  height: 105px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 6px 0 rgba(117, 117, 117, 0.153);
}

.header-logo {
  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 105px;

    img {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.header-menu {
  position: relative;

  ul {
    display: flex;
  }
}

.dropdown-item {
  position: relative;
  padding: 42px 30px;
  color: #fff;
  font-size: 14px;
  font-family: $main-font-bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.dropdown-item:hover {
  color: $button-secondary-text;
  cursor: pointer;
}

.header-submenu {
  position: fixed;
  top: 175px;
  left: 50%;
  width: 62%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.11);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 10px 9px 10px 10px;
  z-index: 2;
  transform: translateX(-50%);
  background-color: #F5F5F5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  .header-item {
    width: 16.6%;
    vertical-align: top;
    padding: 8px 0;
    text-align: center;
    transition: all 0.3s;
    border-radius: 5px;

    span {
      font-size: 13px;
      color: $secondary-text;
      font-family: $main-font-bold;
      text-transform: uppercase;
    }

    .header-item-imgs {
      width: 110px;
      height: 110px;
      margin: 0 auto 10px auto;

      img {
        width: 100%;
      }
    }
  }
}

.header-item:hover {
  background-color: #fff;
}

.show-submenu:hover .header-submenu {
  opacity: 1;
  visibility: visible;
  top: 163px;
}

.header-right {
  position: relative;
  display: flex;
  align-items: center;
  height: 105px;

  a {
    margin-right: 40px;
  }

  .phone {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
}

.wrapper-languague {
  color: #fff;
  margin-right: 25px;
  font-size: 14px;
  font-weight: 500;
  padding: 42px 0;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-grey {
  @include btns;
  background-color: #323232;
  margin-right: 40px;
}

.btn-grey:hover {
  background-color: $button-secondary-text
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg-icon {
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
}

.header-phone-info {
  position: absolute;
  left: -95px;
  top: 60px;
  width: 240px;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .05);
  padding: 15px 10px;
  background-color: #F5F5F5;
  color: $text-main;
  border-radius: 6px;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 0.5s;

  .title {
    font-size: 14px;
    line-height: 1.3em;

    a {
      margin-right: 0px;
      cursor: pointer;
      color: $button-secondary-text;
      font-family: $main-font-bold;
    }
  }

  .text {
    color: $secondary-text;
    text-align: center;
    font-size: 12px;
    line-height: 1.2em;
  }
}

.phone:hover .header-phone-info {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-phone-info::before {
  position: absolute;
  content: '';
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-bottom: 10px solid #F5F5F5;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.login-wraper {
  position: relative;

  .user-login {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    img {
      width: 16px;
      margin-right: 10px;
    }

    span {
      font-family: $main-font-bold;
      transition: all 0.3s;
      cursor:pointer;
    }

    span:hover {
      color: $button-secondary-text;
    }
  }

  .admin {
    position: absolute;
    top: 25px;
    color: #fff;
    font-size: 5px;
  }
}

.burger {
  position: relative;
  margin-right: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .burger-btn {
    position: absolute;
    display: block;
    width: 18px;
    height: 14px;
    transform: translate(1px, 1px);
    transition: all 0.3s;
  }

  .burger-btn::before,
  .burger-btn::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
  }

  .burger-btn::after {
    top: auto;
    bottom: 0;
  }

  span {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}

.header-menu nav ul li a:last-child {
  padding: 42px 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f1f1f1;
}

.close-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.open {
  right: 0;
}

.menu-list {
  display: flex;
  justify-content: center;

  ul {
    width: 70%;

    a {
      margin: 0;
      padding: 15px 25px;

      li {
        @include btns;
        color: $secondary-text;
        font-size: 16px;
        padding: 15px 25px;
      }

      li:hover {
        color: #fff;
        background-color: $button-secondary-text;
      }
    }
  }
}

.menu-list ul .route-active li {
  color: #fff;
  background-color: $button-secondary-text;
}

.menu {
  position: fixed;
  top: 0;
  right: -380px;
  width: 380px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  padding: 105px 60px;
}

.menu-open {
  right: 0;
  padding: 105px 60px;
}

.menu-close-btn {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 2;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.menu-close-btn::before {
  content: "\02715";
  font-size: 24px;
  font-weight: 700;
  color: $text-main;
  transition: all 0.3s;
}

.menu-close-btn:hover::before {
  color: $button-secondary-text;
}

.my-menu-overlay,
.basket-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 5;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, .41);
}

.menu-overlay-active,
.basket-overlay-active {
  opacity: 1;
  display: block;

}

.basket {
  position: fixed;
  top: 217px;
  right: 35px;
  width: 120px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s;

  .basket-circle {
    position: absolute;
    width: 108px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }

  .basket-block {
    z-index: 2;

    p {
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      line-height: 10px;
      margin: 0;
    }

    span {
      font-size: 14px;
      color: #fff;
    }
  }
}

.basket-imgs {
  position: relative;
  display: block;
  margin-right: 15px;
  top: 1px;
  z-index: 2;

  span {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -8px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
  }
}

.basket-modal-wraper {
  position: fixed;
  right: 0;
  top: 0;
  width: 680px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 0 8px;
  z-index: 6;
  font-family: $main_font;

  .cart-popup-out {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .cart-items {
    max-height: calc(100vh - 205.8px);
    padding: 0;
    overflow: auto;
  }

  .basket-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 20px 30px;
    font-family: $main-font-bold;

    h4 {
      font-size: 26px;
    }

    .clear-basket {
      width: 62%;
      font-size: 12px;
      vertical-align: middle;
      text-align: right;
      text-transform: uppercase;
    }

    .btn-close {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
      transition: 0.3s;
      color: $text-main;
      vertical-align: middle;
      position: relative;
    }

    .btn-close::before {
      content: "\02715";
      position: absolute;
      top: -5px;
      font-size: 24px;
      font-weight: 700;
    }

    .clear-basket:hover,
    .btn-close:hover::before {
      color: $button-secondary-text;
    }

  }

  .cart-empty-message {
    text-align: center;
    max-width: 100%;
    padding: 15px 0;
    margin: 0 auto;

    button {
      padding: 16px 22px;
    }

    .cart-empty-img img {
      width: 100px;
    }
  }

  .title-basket {
    color: $text_main;
    font-weight: bold;
    overflow: hidden;
    margin: 0 5px 5px 0;
    font-size: 16px;
    transition: 0.35s;
    cursor: pointer;
  }

  .title-basket:hover {
    color: $button-secondary-text;
  }

  .btn-basket {
    @include btns;
    background-color: $button-secondary-text;
    border: 2px solid $button-secondary-text;
  }

  .btn-basket:hover {
    background-color: initial;
    color: $text-main;
    border: 2px solid $button-secondary-text;
  }

  .btn-basket:disabled {
    background-color: rgb(226, 226, 226);
    border: inherit;
    cursor: not-allowed;
  }

  .basket-products {
    min-height: 100px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
  }

  .basket-products-img {
    width: 122px;
    height: 92px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .basket-products-desc {
    padding: 0 10px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .basket-products-controls {
    display: flex;
    align-items: center;
    font-family: $main_font;
  }

  .thumb-input-number {
    width: 110px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: $button-secondary-text;
    font-size: 16px;
    line-height: 16px;
    margin-right: auto;
    margin-left: auto;

    button {
      width: 32px;
      cursor: pointer;
      transition: 0.35s;
      font-size: 24px;
      border: none;
      background-color: #fff;
      margin: 4px;
    }

    input {
      width: 30px;
      height: 44px;
      font-weight: 600;
      text-align: center;
    }
  }

  .thumb-input-number button:first-child {
    font-size: 30px;
  }

  .basket-products-price {
    width: 90px;
    text-align: center;
    line-height: 1em;
    margin: 0 5px;
    font-size: 16px;
  }

  .remove-product {
    width: 14px;
    height: 20px;
    background: none;
    position: relative;
    border: none;
  }

  .trash {
    width: 14px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .trash::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10px;
    height: 12px;
    background: #5a5a5a;
    border-radius: 0 0 3px 3px;
    transition: 0.35s;
  }

  .trash::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    clip-path: polygon(35% 0,
        65% 0,
        75% 50%,
        100% 50%,
        100% 100%,
        0 100%,
        0 50%,
        25% 50%);
    background: #5a5a5a;
    transition: 0.35s;
  }

  .trash:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 50%;
    top: -8px;
    transform: translate(-50%, 0);
    clip-path: polygon(35% 0,
        65% 0,
        75% 50%,
        100% 50%,
        100% 100%,
        0 100%,
        0 50%,
        25% 50%);
    background: #5a5a5a;
    transition: 0.35s;
  }

  .cart-bottom {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 680px;
    padding: 20px 20px 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $button-secondary-text;
  }

  .card-total-price {
    font-size: 22px;
  }

}