@import 'src/app/shared/styles/variables';
@import '../../shared/styles/fonts';
@import 'src/app/shared/styles/base';
@import '../../shared/styles/mixins';

.content-block {
  overflow: hidden;
  // position: relative;
  font-family: $main-font;
}

.header-informer {
  position: fixed;
  background-color: #141414;
  color: #fff;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 17px 0;
  font-size: 14px;
  font-weight: 500;

  span {
    font-size: 15px;
    margin-left: 10px;
  }

  a {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #2d7d7d;
  }

  a::before {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2d7d7d;
    transition: all 0.3s;
  }

  a:hover::before {
    width: 0;
    left: auto;
    right: 0;
  }
}

.decor-left {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 768px;
}

header {
  background-image: url('../../../assets/images/bg-header.jpg');
  position: relative;
  position: fixed;
  width: 100%;
  height: 105px;
  z-index: 9;
  top: 51.2px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 6px 0 rgba(117, 117, 117, 0.153);
}


.header-logo {
  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 105px;

    img {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.header-menu {
  position: relative;

  ul {
    display: flex;
  }
}

.dropdown-item {
  padding: 42px 30px;
  color: #fff;
  font-size: 14px;
  font-family: $main-font-bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.dropdown-item:hover {
  color: $button-secondary-text;
  cursor: pointer;
}



.header-submenu {
  position: fixed;
  top: 156px;
  width: 62%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.11);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 9px 10px 10px;
  z-index: 2;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  background-color: #F5F5F5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  .header-item {
    width: 16.6%;
    vertical-align: top;
    padding: 8px 0;
    text-align: center;
    transition: all 0.3s;

    span {
      font-size: 14px;
      font-weight: 500;
      color: $secondary-text;
      font-family: $main-font-bold;
      text-transform: uppercase;
    }

    .header-item-imgs {
      // width: 110px;
      // height: 110px;
      margin: 0 auto 10px auto;

      // img {
      //   width: 100%;
      //   height: auto;
      // }
    }
  }
}

.show-submenu:hover .header-submenu {
  opacity: 1;
  visibility: visible;
  top: 16.5%;
}






.header-right {
  display: flex;
  align-items: center;
  height: 105px;

  a {
    margin-right: 40px;
  }

  .phone {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
}

.wrapper-languague {
  color: #fff;
  margin-right: 25px;
  font-size: 14px;
  font-weight: 500;
  padding: 42px 0;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-grey {
  @include btn;
  background-color: #323232;
  margin-right: 40px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg-icon {
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
}


.header-phone-info {
  position: absolute;
  left: -95px;
  top: 60px;
  width: 240px;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .05);
  padding: 15px 10px;
  background-color: #F5F5F5;
  color: $text-main;
  border-radius: 6px;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 0.5s;

  .title {
    font-size: 14px;
    line-height: 1.3em;

    a {
      margin-right: 0px;
      cursor: pointer;
      color: $button-secondary-text;
      font-family: $main-font-bold;
    }
  }

  .text {
    color: $secondary-text;
    text-align: center;
    font-size: 12px;
    line-height: 1.2em;
  }
}

.phone:hover .header-phone-info {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-phone-info::before {
  position: absolute;
  content: '';
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-bottom: 10px solid #F5F5F5;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.user-login {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: $main-font-bold;

  img {
    width: 16px;
    margin-right: 10px;
  }
}

.burger {
  position: relative;
  margin-right: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .burger-btn {
    position: absolute;
    display: block;
    width: 18px;
    height: 14px;
    transform: translate(1px, 1px);
    transition: all 0.3s;
  }

  .burger-btn::before,
  .burger-btn::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
  }

  .burger-btn::after {
    top: auto;
    bottom: 0;
  }

  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}