@import '../../shared/styles/variables';
@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/mixins';

.breadcrumbs {
  @include breadcrumbs;
}

section {
  font-family: $main-font;
  color: $text-main;
}

h1.title {
  @include title;
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 85px;
}

.conatct-item {
  width: 350px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;

  .title {
    @include title;
    text-align: start;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1.3em;
  }
}

.conatct-grey {
  width: 100%;
  background: #F5F5F5;
  border-radius: 6px;
  padding: 20px 30px;
}

.contact-line {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.contatc-icon {
  vertical-align: top;
  margin-right: 30px;
  width: 30px;
  text-align: center;

  img {
    position: relative;
    top: 6px;
  }
}

.text-style-2 {
  @include simple-page-text;
  line-height: 30px;
  font-size: 18px;

  b {
    display: block;
    margin: 0 2px;
  }
}

h3 {
  font-family: $main-font-bold;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;

  mat-form-field {
    width: 45%;
    margin: 2%;
  }

  .message {
    width: 100%;
  }

  button {
    width: 50%;
    @include btns;
    border: 2px solid $button-secondary-text;
    background-color: $button-secondary-text;
    padding: 18px 30px;
  }

  button:hover {
    background-color: #ffffff;
    color: $text-main;
    border: 2px solid $button-secondary-text;
  }

  div {
    width: 100%;
    text-align: center;
  }
}

.spacer-120 {
  height: 120px;
}

.map-block {
  height: 560px;
  position: relative;
  overflow: hidden;
}

.gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
}

.gm-style-moc {
  background-color: rgba(0, 0, 0, .45);
  pointer-events: none;
  text-align: center;
  transition: opacity ease-in-out;
}

.gm-style-mot {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gm-control-active>img:nth-child(1) {
  display: block;
}

.gm-control-active>img {
  box-sizing: content-box;
  display: none;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}