<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs-after">
      <a [routerLink]="['/']">
        <span>Головна</span>
      </a>
    </li>
    <li class="breadcrumbs-after">
      <a [routerLink]="[ '/thai-product/' + currentProduct.category.path ]">
        <span>{{currentProduct.category.name}}</span>
      </a>
    </li>
    <li>
      <span>{{currentProduct.name}}</span>
    </li>
  </ul>
</div>

<section class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-md-8 align-self-center">
      <img class="product-img" [src]="currentProduct.imagePath" [alt]="currentProduct.name">
    </div>
    <div class=" col-xl-5 col-md-11">
      <div class="card-body">
        <div>
          <div class="card-text mb-4">{{currentProduct.weight}} г</div>
        </div>
        <h5 class="card-title"> {{currentProduct.name}}</h5>
        <span class="card-text ms-2">{{currentProduct.description}}</span>
        <div class="product-controls">
          <div class="product-price">
            <b>{{currentProduct.price*currentProduct.count}}</b> грн
          </div>
          <div class="thumb-input-number">
            <button type="button" (click)="productCount(currentProduct, false)">-</button>
            <input type="text" [value]="currentProduct.count" readonly max="99">
            <button type="button" (click)="productCount(currentProduct, true)">+</button>
          </div>
          <button class="btn-order" (click)="addToBasket(currentProduct)">
            Замовити
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer-100"></div>
<section class="container">
  <h3 class="title">Інші <span>{{currentProduct.category.name}}</span></h3>
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3 mb-4" *ngFor="let product of userProducts">
      <div class="product">
        <div class="product-image-wrapper">
          <a class="product-image">
            <picture>
              <img [routerLink]="['/thai-product/' + product.category.path, product.id ]"
                   (click)="toTop()" [src]="product.imagePath" [alt]="product.name">
            </picture>
            <ul class="product-labels">
              <li class="culinasia" *ngIf="product.culinasia" >CULINASIA MENU</li>
              <li class="rice" *ngIf="product.rice">NO RICE</li>
              <li class="veggie" *ngIf="product.veggie">VEGGIE</li>
            </ul>
          </a>
          <div class="image-top-right">
            <button class="fav-btn"></button>
          </div>
          <div class="floating-buttons">
            <button class="btns">Додати складники
            </button>
            <button class="btns">Швидке замовлення
            </button>
          </div>
        </div>
        <div class="product-title-wrap">
          <h6>
            <a [routerLink]="['/thai-product/' + product.category.path, product.id ]"
            (click)="toTop()">{{product.name}}
            </a>
          </h6>
          <div class="product-price-wrap">{{product.price*product.count}}</div>
        </div>
        <div class="product-desc">{{product.description | slice:0:90}}
          <span *ngIf="product.description.length>90">...</span>
        </div>
        <div class="product-controls">
          <div class="thumb-input-number">
            <button type="button" (click)="productCount(product, false)">-</button>
            <input [value]="product.count" readonly="" tabindex="-1" max="99">
            <button type="button" (click)="productCount(product, true)">+</button>
          </div>
          <button class="btns" (click)="addToBasket(product)">Замовити</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer-100"></div>
