<section class="container">
  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs">
        <li class="breadcrumbs-after">
          <a [routerLink]="['/']">
            <span>Головна</span>
          </a>
        </li>
        <li class="breadcrumbs-after">
          <a [routerLink]="['/vacancies']">
            <span>Вакансії</span>
          </a>
        </li>
        <li>
          <span>Кухар WOK</span>
        </li>
      </ul>
      <div class="baner">
        <div class="baner-bg"></div>
        <div class="banner-content">
          <h2 class="title">Вакансія кухаря WOK</h2>
          <div class="banner-info">
            <div class="text">
              <p><b>Місто</b></p>
              <p>Львів</p>
            </div>
            <div class="text">
              <p><b>Місце праці</b></p>
              <p>ресторан NOA</p>
            </div>
            <div class="text">
              <p><b>Зайнятість</b></p>
              <p>гнучкий графік</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer-60"></div>
<section class="container">
  <div class="row">
    <div class="col-6">
      


    </div>
    <div class="col-6"></div>

  </div>








</section>