<ng-container *ngIf="!isLogin && !isPassword">
  <div class="form-wrap">
    <button class="btn-close" (click)="closeDialog()"></button>
    <form [formGroup]="authForm" class="was-validated">
      <h2>Вхід в кабінет</h2>
      <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>*Ваш email</mat-label>
          <input matInput formControlName="email" name="name" type="email">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>*Пароль</mat-label>
          <input matInput formControlName="password" name="path" type="password">
        </mat-form-field>
      </div>
      <button mat-raised-button *ngIf="!isLogin" [disabled]="authForm.invalid" type="submit" class="btns"
        (click)="loginUser()" mat-dialog-close>
        Увійти в кабінет
      </button>
      <div class="tip-wrap">
        <a (click)="changeIsPassword()">Забули пароль?</a>
        <a (click)="changeLogin()">Зареєструватись</a>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isLogin">
  <div class="form-wrap">
   <button class="btn-close" (click)="closeDialog()"></button>
    <form [formGroup]="registerForm" class="was-validated">
      <h2>Зареєструватись</h2>
      <div class="row">
        <mat-form-field class="col-md-6 form-group" appearance="outline">
          <mat-label>Ваше ім'я</mat-label>
          <input matInput formControlName="firstName" name="name" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-6 form-group" appearance="outline">
          <mat-label>Baше призвище</mat-label>
          <input matInput formControlName="lastName" name="last-name" type="text">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Ваш телефон</mat-label>
          <span  style="padding-left: 20px;" matPrefix>+380 &nbsp;</span>
          <input matInput type="tel" formControlName="phoneNumber" name="phoneNumber"  placeholder="хх-xxx-xx-xx" required>
          <mat-error
            *ngIf="registerForm.controls['phoneNumber'].hasError('pattern') && !registerForm.controls['phoneNumber'].hasError('required')">
            Будь ласка, введіть <strong>дійсний номер</strong> телефону
          </mat-error>
          <mat-error *ngIf="registerForm.controls['phoneNumber'].hasError('required')">
            Необхідно вказати <strong>номер телефону</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Ваш email</mat-label>
          <input matInput formControlName="email" name="email" type="email">
          <mat-error
          *ngIf="registerForm.controls['email'].hasError('pattern') && !registerForm.controls['email'].hasError('required')">
          Будь ласка, введіть <strong>дійсну адресу</strong> електронної пошти
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
          Необхідно вказати <strong>адресу електронної пошти</strong>
        </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Пароль</mat-label>
          <input (input)="checkConfirmedPassword()" matInput formControlName="password" name="password" type="password">
        </mat-form-field>
        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Повторіть пароль</mat-label>
          <input (input)="checkConfirmedPassword()" matInput formControlName="confirmPassword" type="password">
        </mat-form-field>
      </div>
      <div class="password-confirmation-error">
        <mat-error *ngIf="checkVisibilityError('confirmPassword', 'matchError')">
          Паролі не співпадають!
        </mat-error>
      </div>
      <div class="row">
        <mat-checkbox class="col-md-6" formControlName="offers">Хочу отримувати пропозиції на email</mat-checkbox>
        <mat-checkbox class="col-md-6" formControlName="agreement" required>Я погоджуюсь з
          <a ><strong class="rules">Правилами користування</strong></a>
        </mat-checkbox>
      </div>
      <button mat-raised-button color="primary" *ngIf="isLogin" [disabled]="registerForm.invalid" type="submit"
        class="btns w-100 mt-4" (click)="registerUser()" mat-dialog-close>
        Зареєструватись
      </button>
      <div class="tip-wrap">
        <div>Вже зареєстровані? 
          <a (click)="changeLogin()">Увійти</a>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isPassword">
  <div class="form-wrap">
    <button class="btn-close" (click)="closeDialog()"></button>
    <form  class="was-validated">
      <h2>Відновити пароль</h2>
      <p>Після заповнення форми, ми
         надішлемо вам детальну інструкцію по відновленню паролю
      </p>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>*Ваш email</mat-label>
          <input matInput name="name" type="email">
        </mat-form-field>
      </div>
      <button type="submit" class="btns"
        (click)="changeIsPassword()" mat-dialog-close>
        Відновити пароль
      </button>
      <div class="tip-wrap">
        <div><a (click)="changeIsPassword()">Повернутися до Входу</a></div>
      </div>
    </form>
  </div>
</ng-container>