@import '../../shared/styles/variables';
@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/mixins';

.breadcrumbs {
  @include breadcrumbs;
}

.title {
  @include title
}

.simple-page-text {
  @include simple-page-text;
  margin-top: 50px;

  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}

.spacer-100 {
  height: 100px;
}

@media screen and (max-width: 1200px) {
  .simple-page-text p {
    font-size: 16px;
  }
}

@media screen and (max-width:949px) {

  .breadcrumbs {
    position: relative;
    top: 10px;
    left: 0px;
    margin-bottom: 50px;
  }

  ol,
  ul {
    padding-left: 0px;
  }
}

@media screen and (max-width: 427px) {

  .title {
    font-size: 32px;
    margin-bottom: 0px;
  }

  .simple-page-text p {
    font-size: 14px;
  }
}