@import '../../shared/styles/variables';
@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/mixins';

.spacer-60 {
  height: 60px;
}

.categories-menu-mobile {
  display: none;
}

.categories-menu {
  font-family: $main-font-bold;
  margin-bottom: 30px;

  .categories-list {
    display: inline-flex;
    flex-wrap: wrap;
    background: #F5F5F5;
    border-radius: 6px;
    padding: 3px;

    .categories-list-item a {
      display: inline-block;
      padding: 15px 24px;
      font-size: 14px;
      font-weight: 500;
      color: $secondary-text;
      transition: 0.25s;
      text-transform: uppercase;
      margin: 2px;
    }

    .categories-list-item a:hover {
      background-color: $button-secondary-text;
      color: #fff;
      border-radius: 6px;
    }

    .categories-list-item a.active {
      background-color: #2d7d7d;
      color: #fff;
      border-radius: 6px;
    }
  }
}

.filters-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .sort-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;

    select {
      width: 210px;
    }

    div {
      width: 50%;
      font-size: 14px;
    }
  }
}

.product {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;

  @include product-title-wrap;
  @include product-controls;

  .product-image-wrapper {
    position: relative;
    @include product-image;
  }

  .image-top-right {
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .floating-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.25s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);

    .btns {
      color: $button-secondary-text;
      font-family: $main-font-bold;
      line-height: 16px;
      padding: 15px 0;
      flex: 0 0 49%;
      letter-spacing: 0.1em;
      font-size: 10px;
      text-transform: uppercase;
      transition: 0.3s;
      text-align: center;
      background: #F5F5F5;
      border-radius: 6px;
    }

    .btns:hover {
      background-color: $button-secondary-text;
      color: #fff;
    }
  }

  .product-desc {
    line-height: 1.5em;
    font-size: 15px;
    height: 66px;
    overflow: hidden;
  }
}

.product:hover .floating-buttons {
  opacity: 1;
  bottom: 10px;
}

.product:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.fav-btn {
  @include fav-btn;
}

.full-fav-btn {
  @include fav-btn;
  background-image: url(../../../assets/images/product/love-icon.svg);
}

@media screen and (max-width:949px) {

  .categories-menu {
    display: none;
  }

  .categories-menu-mobile {
    display: block;

    mat-form-field {
      width: 100%;
    }
  }

  .product {
    max-width: none;
    width: 100%;

    .product-title-wrap {
      margin: 0px;

      h6 {
        margin: 0px;
      }
    }
  }
}



@media screen and (max-width:427px) {
  .product .floating-buttons .btns {
    padding: 12px 0;
    font-size: 9px;
  }

  .product .product-controls {
    margin-top: 30px;
  }

  .filters-list {
    .sort-wrapper {
      select {
        width: 180px;
        font-size: 12px;
      }

      div {
        width: 50%;
        font-size: 12px;
      }
    }
  }

  .spacer-140 {
    height: 70px;
  }
}