<section>
  <h1>Зміна паролю</h1>
  <form [formGroup]="registerForm">
    <div class="row">
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Ваш поточний пароль</mat-label>
        <input (input)="checkConfirmedPassword()" matInput formControlName="currentPassword"
                name="password" type="password">
      </mat-form-field>
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Новий пароль</mat-label>
        <input (input)="checkConfirmedPassword()" matInput formControlName="password"
               name="password" type="password">
      </mat-form-field>
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Повторіть пароль</mat-label>
        <input (input)="checkConfirmedPassword()" matInput formControlName="confirmPassword"
               type="password">
      </mat-form-field>
    </div>
    <div class="password-confirmation-error">
      <mat-error *ngIf="checkVisibilityError('confirmPassword', 'matchError')">
        Паролі не співпадають!
      </mat-error>
    </div>
    <button class="btns" (click)="changePassword()" [disabled]="registerForm.invalid" type="submit">
      Змінити пароль
    </button>
  </form>
</section>