*,
*:before,
*:after {
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
.accordion-button,
.btn-close:focus,
.btn-close:active,
.btn:focus {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
}

input:focus,
select:focus{
  outline: none;
  box-shadow: none;
}