
@font-face {
  font-family: 'Cera-Round-Pro';
  src: url('../styles/fonts/TypeMates - CeraRoundPro-Regular.ttf');
}

@font-face {
  font-family: 'Cera-Round-Pro-Bold';
  src: url('../styles/fonts/TypeMates - Cera Round Pro Bold.ttf');
}


