@mixin btns {
  color: #fff;
  letter-spacing: .15em;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  padding: 20px 30px;
  text-transform: uppercase;
  transition: 0.35s;
  text-align: center;
  font-family: $main-font-bold;
}

@mixin btn {
  color: $button-secondary-text;
  transition: 0.35s;
  font-family: $main_font_bold;
}

@mixin btns2 {
  width: 100%;
  border: 2px solid $button-secondary-text;
  background-color: $button-secondary-text;
}

@mixin title {
  font-family: $main-font-bold;
  font-size: 42px;
  line-height: 1.2em;
  color: $text-main;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;

  span {
    color: $button-secondary-text;
  }
}

@mixin breadcrumbs {
  font-family: $main-font;
  position: relative;
  top: 20px;
  left: 20px;
  margin-bottom: 50px;

  .breadcrumbs-after,
  li {
    display: inline-block;
    letter-spacing: 0.01em;
    font-size: 13px;
    color: $text-main;
  }

  .breadcrumbs-after::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid $button-secondary-text;
    margin: 0 15px 0 10px;
  }
}

@mixin breadcrumbs-vacancies {
  @include breadcrumbs;
  margin: 0;
  z-index: 3;

  li {
    color: #ECECEC;
  }

  li a {
    color: #ECECEC;
  }

  .breadcrumbs-after::after {
    border: 2px solid #ECECEC;
    ;
  }
}

@mixin simple-page-text {
  font-family: $main-font;
  color: $secondary-text;
  width: 100%;
  line-height: 1.2em;
  font-size: 20px;
}

@mixin h1 {
  font-family: $main-font;
  color: $text-main;
  font-size: 46px;
  line-height: 1.2em;
}

@mixin fav-btn {
  background-image: url(../../../assets/images/product/love-empty-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 20px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

@mixin product-image {
  .product-image {
    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }

    .product-labels {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      @include product-labels-color;

      li {
        padding: 8px 10px;
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 1;
        color: #fff;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 700;
      }
    }
  }
}

@mixin product-labels-color {
  .culinasia {
    background-color: #ff6400;
  }

  .rice {
    background-color: #0a0202;
  }

  .veggie {
    background-color: #08a000;
  }

}

@mixin product-title-wrap {
  .product-title-wrap {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    font-family: $main-font-bold;

    h6 {
      min-height: 3.25em;
    }

    a {
      font-size: 18px;
      overflow: hidden;

    }

    a:hover {
      color: $button-secondary-text;
    }
  }
}

@mixin product-controls {
  .product-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .thumb-input-number {
      color: $text-main;
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      line-height: 1;

      button {
        width: 30px;
        height: 30px;
        transition: 0.25s;
        font-size: 18px;
        font-weight: 700;
        background-color: #F5F5F5;
        border-radius: 5px;
      }

      button:hover {
        background-color: $button-secondary-text;
        color: #fff;
      }

      input {
        width: 50px;
        height: 26px;
        font-weight: 700;
        text-align: center;
        font-size: 16px;
      }
    }

    .btns {
      @include btns;
      background-color: $button-secondary-text;
      border: 2px solid #2d7d7d;
      padding: 10px 15px;
      margin-left: 15px;
    }

    .btns:hover {
      background-color: #fff;
      color: $text-main;
    }
  }
}