@import "../../shared/styles/variables";
@import "../../shared/styles/fonts";
@import "../../shared/styles/mixins";
@import "../../shared/styles/base";

.btns2 {
  @include btns;
  @include btns2;
  margin-top: 30px;
}

.btns2:hover {
  background-color: initial;
  color: $text-main;
  border: 2px solid $button-secondary-text;
}

section {
  margin: 100px 0px 100px;
  font-family: $main_font;
}

.categories-menu {
  position: relative;
}

.categories-list {
  text-align: center;
  min-width: 176px;
  padding: 0px;
}

ul {
  list-style: none;
}

.categories-list-item {
  cursor: pointer;
  padding: 0;
  min-width: 168px;
  font-weight: 500;

  a {
    display: inline-block;
    padding: 17px 10px;
    font-size: 18px;
    transition: 0.3s;
  }

  a:hover {
    color: $button-secondary-text;
  }
}

.categories-list-item.line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 4px;
  background: $button-secondary-text;
}

.active {
  color: $button-secondary-text;
  font-weight: bolder;
}

.btns-mob {
  display: none;
}

@media screen and (max-width: 1199px) {
  section {
    margin: 5px 0px 100px;
  }

  .categories-menu {
    margin: 20px 0 20px;

    ul {
      display: flex;
    }

    .btns-mob {
      display: block;
      @include btns2;
      @include btns;
      padding: 10px 10px;
      font-size: 16px;
    }

    .categories-list-item.line::before {
      content: none;
    }

    .categories-list-item {
      a {
        padding: 10px 10px;
        font-size: 16px;
      }
    }
  }

  .btns2 {
    display: none;
  }
}

@media screen and (max-width:949px) {

  .categories-list {
    min-width: 100%;

    .categories-list-item {
      min-width: 20%;
    }
  }
}

@media screen and (max-width:636px) {

  .categories-list {
    .categories-list-item {
      a {
        font-size: 14px;
      }

      .btns-mob {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width:427px) {
  .categories-menu {
    margin: 85px 0 20px;
  }

  .categories-list {
    .categories-list-item {
      a {
        font-size: 12px;
        padding: 8px;
      }

      .btns-mob {
        height: 100%;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width:350px) {
  .categories-list .categories-list-item .btns-mob {
    padding: 0px;
  }

  .categories-list .categories-list-item a {
    padding: 0px;
  }
}