<section>
  <div class="home-banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1">
        </button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2">
        </button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/images/home/noa-stravy-pidtrymky-bannerm-min-1550x630.png"
           class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/home/noa-culspecial-site-banner-fullhd-min-1-1550x630.png"
            class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<section class="products container">
  <h1>Особлива <span>Азія</span>
  </h1>
  <div class="categories-menu">
    <ul class="categories-list">
     <li class="categories-list-item" *ngFor="let category of categories">
        <a [routerLink]="['/product/' + category.path]" (click)="toTop()">{{ category.name }}</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3 mb-4" *ngFor="let product of userProducts">
      <div class="product">
        <div class="product-image-wrapper">
          <a class="product-image">
            <picture>
              <img [routerLink]="['/product/' + product.category.path, product.id ]"
               [src]="product.imagePath" [alt]="product.name" (click)="toTop()">
            </picture>
            <ul class="product-labels">
              <li class="culinasia" *ngIf="product.culinasia" >CULINASIA MENU</li>
              <li class="rice" *ngIf="product.rice">NO RICE</li>
              <li class="veggie" *ngIf="product.veggie">VEGGIE</li>
            </ul>
          </a>
          <div class="image-top-right" >
            <button *ngIf="!product.favorites" class="fav-btn" (click)="toFavorites(product)"></button>
            <button *ngIf="product.favorites" class="full-fav-btn" (click)="toFavorites(product)"></button>
          </div>
          <div class="floating-buttons">
            <button class="btns" *ngIf="product.addIngredients">
              Додати складники
            </button>
            <button class="btns" (click)="addToBasket(product); toTop()" [routerLink]="['/checkout']">
              Швидке замовлення 
            </button>
          </div>
        </div>
        <div class="product-title-wrap">
          <h6>
            <a [routerLink]="['/product/' + product.category.path, product.id ]" (click)="toTop()">
              {{product.name}}
            </a>
          </h6>
          <div class="product-price-wrap">{{product.price*product.count}}</div>
        </div>
        <div class="product-desc">{{product.description | slice:0:100}}
          <span *ngIf="product.description.length>100">...</span>
        </div>
        <div class="product-controls">
          <div class="thumb-input-number">
            <button type="button" (click)="productCount(product, false)">-</button>
            <input [value]="product.count" readonly="" tabindex="-1" max="99">
            <button type="button" (click)="productCount(product, true)">+</button>
          </div>
          <button class="btns" (click)="addToBasket(product)">Замовити</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer-60"></div>
<section class="seo">
  <div class="container-fluid">
    <img loading="lazy" src="../../../assets/images/home/seo_decor_one.svg" alt="" class="seo-decor-leaf">
    <img loading="lazy" src="../../../assets/images/home/seo_decor_two.svg" alt="" class="seo-decor">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-7 col-md-6 ">
        <h3 class="title"><span>Досліджуйте</span> світ азійської кухні з NOA </h3>
        <div class="text">
          <p>Пікантна, яскрава, різноманітна та ну дуууже смачна — саме так можна охарактеризувати азійську кухню.
            Асортимент страв вражає навіть найбільш вибагливих гурманів. А унікальні поєднання інгредієнтів — нікого не
            залишають байдужим. Тож не відкладайте на потім: пориньте у світ смачних страв просто зараз!
          </p>
          <p>Ресторан NOA підготував для вас величезне меню з традиційними ролами, локшиною вок, десертами та напоями,
            які
            чудово підкреслюють смак страв. А наша найшвидша доставка привезе ваше замовлення у будь-який куточок
            Львова!
          </p>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                ЧИТАТИ БІЛЬШЕ
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h2>Суші, wok, рамен — що оберете сьогодні?</h2>
                <p>Шеф-кухарі NOA ретельно збирали найкращі рецепти китайської, японської, тайської кухні. Для того, щоб
                  ви могли смакувати улюбленими азійськими стравами у себе вдома: тоді, коли забажаєте. У нас є все для
                  смачного обіду, ситної вечері або великого застілля з друзями:
                </p>
                <ul>
                  <li>Роли та суші-сети — за традиційними та авторськими рецептами. Обов'язково спробуйте рол Авокадо з
                    вугрем, Токійський дракон, Акайо та Мідора — буде смачно!
                  </li>
                  <li>Страви WOK — локшина та рис. З куркою, морепродуктами, овочами та смачними соусами, приготованими
                    власноруч.
                  </li>
                  <li>Рамени — найрізноманітніші та найсмачніші! З яловичиною, гьодзе, курятиною, свининою та
                    морепродуктами. До речі, рамен — це зовсім не суп, а локшина з бульйоном. Спробуйте, і
                    переконайтеся!
                  </li>
                  <li>Poke-боули — одночасно смачно та корисно. Вирішуйте, який боул хочете скуштувати сьогодні: з
                    тунцем, лососем чи іншими смачними інгредієнтами. </li>
                </ul>
                <p>Бажаєте поснідати з NOA? Жодних проблем! Наше меню сніданків доступне з 10 ранку і до 18 вечора —
                  підійде навіть тим, хто звик прокидатися пообіді. Готуємо сирники, тости, омлети та хашбраун —
                  вибирайте те, що вам до душі.
                </p>
                <p>А ще, у нас є стартери, десерти, велике меню напоїв: усе, що потрібно для повноцінного обіду або
                  вечері. Кожна страва створена з любов'ю. Адже ми готуємо страви для вас, як для своїх рідних.
                  Турбуємося про те, щоб ви хотіли повертатися в “НОА” ще і ще, стали одним з наших постійних клієнтів.
                </p>
                <p>Ми створюємо азійські страви лише зі свіжих, добірних компонентів. Дбаємо про їх правильне зберігання
                  та ретельно обробку. Саме тому, кожна страва — дуже смачна. А наші гості — задоволені!
                </p>
                <h2>Справжня азійська кухня з доставкою у Львові</h2>
                <p>Лінь стояти біля плити? Без паніки: NOA вже поспішає доставити ваші улюблені страви. Пікантний WOK,
                  роли, рамен — обирайте те, що вам до смаку. Наші шеф-кухарі приготують справжню азійську їжу саме для
                  вас. А кур'єри — миттєво доставлять замовлення прямісінько до дверей. Тому не відкладайте на потім:
                  куштуйте улюблені страви азійської кухні та новинки від нашої команди.
                </p>
                <p>Замовляєте у нас вперше? Розкажемо, як працює наша доставка:</p>
                <ul>
                  <li>Готуємо страви щодня та без вихідних. Приймаємо замовлення з 10:00 до 21:00. Насолоджуйтесь
                    улюбленими стравами хоч щодня!
                  </li>
                  <li>Привозимо їжу в Зеленій зоні за 45 хвилин, у Жовтій — за 55, у Червоній — за 65. Дбаємо про те,
                    щоб ви могли отримати своє замовлення якомога швидше.
                  </li>
                  <li>Діє безкоштовна доставка для замовлень на суму 300+ гривень. Не переплачуйте зайвого!
                  </li>
                  <li>Оплатити замовлення можна зручними способами — на сайті через систему LiqPay, карткою або готівкою
                    кур'єру. Просто оберіть варіант, який підходить саме вам.
                  </li>
                </ul>
                <p>Ми готуємо та доставляємо азійську їжу професійно, швидко, з любов'ю. Тому замовляйте нашу доставку,
                  або відвідуйте заклади — з друзями, рідними, коханою людиною. Приємна атмосфера, професійне
                  обслуговування та смачна їжа гарантовані.
                </p>
                <p>Насолоджуйтесь улюбленими стравами з ресторану “НОА” у Львові!</p>
              </div>
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                згорнути
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer-140"></div>