@import '../../shared/styles/variables';
@import '../../shared/styles/fonts';
@import '../../shared/styles/mixins';
@import '../../shared/styles/base';

.btns {
  @include btns;
  background-color: $button-secondary-text;
  border: 2px solid $button-secondary-text;
}

.btns:hover {
  background-color: initial;
  color: rgb(0, 0, 0);
}

.btns:focus {
  outline: 0;
  box-shadow: none;
}

.btns:disabled {
  cursor: not-allowed;
  background-color: rgb(233, 233, 233);
  color: rgb(150, 150, 150);
  border: 2px solid rgb(233, 233, 233);
}

.btn {
  @include btn;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn:disabled {
  pointer-events: all;
  cursor: not-allowed;
}

.btn:hover {
  color: $text_main;
}

table {
  text-align: center;
}

.form-control,
.form-select {
  background-color: rgb(233, 233, 233);
}

.image-wraper {
  width: 300px;
  display: flex;
  padding: 20px 0px;

  img {
    width: 200px;
  }
}

.product-img {
  height: 50px;
}

@media screen and (max-width:1199px) {
  .table>:not(caption)>*>* {
    padding: 0px 0px;
    font-size: 12px;
  }

  .btn {
    padding: 4px;
    font-size: 100%;
  }
}

@media screen and (max-width:949px) {

  .table>:not(caption)>*>* {
    padding: 0px 0px;
    font-size: 8px;
  }

  .btn {
    padding: 2px;
  }

  .btns {
    font-size: 10px;
    padding: 10px 0px;
    margin-top: 20px;
  }

  .discount-image {
    height: 30px;
  }

  .load-discount-image {
    height: 150px;
  }

  .product-img {
    height: 20px;
    margin-top: 5px;
  }

  .container-fluid {
    padding: 0px;
  }

  form {
    font-size: 12px;
  }
}

@media screen and (max-width:427px) {
  .btn {
    font-size: 8px;
  }

  .table>:not(caption)>*>* {
    padding: 0px 0px;
    font-size: 6px;
  }
}