<section>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Замовлення</th>
        <th scope="col">Адреса</th>
        <th scope="col">Самовивіз</th>
        <th scope="col">Сума</th>
        <th scope="col">Статус</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <ng-container *ngIf="user.orders && user.orders.length > 0">
        <tr *ngFor="let order of user.orders; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <div *ngFor="let product of order.orders; let j = index ">
              <ng-container *ngIf="product.name">
                {{ j + 1 }}. {{ product.name }} - {{product.count}}шт.
              </ng-container>
            </div>
          </td>
          <td>Місто:{{user.address}}, вулиця:{{user.street}}, будинок:{{user.house}}, картира:{{user.flat}},
            під'їзд:{{user.entrance}}, поверх:{{user.floor}}, домофон:{{user.intercom}} .
          </td>
          <td>
            <div *ngFor="let product of order.orders">
              <ng-container *ngIf="product.delivery">
                {{product.restaurantAddress}}. Час отримання
                {{product.timeInterval}},
              </ng-container>
            </div>
          </td>
          <td>
            <div *ngFor="let product of order.orders; let j = index ">
              <div>
                {{ product.total }}
              </div>
            </div>
          </td>
          <td>В очікуванні</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ng-container *ngIf="!user.orders || user.orders.length === 0">
    <div class="empty-orders">
      Поки що ви не зробили жодного замовлення.
      <a [routerLink]="['/']">Перейдіть в каталог</a>.
    </div>
  </ng-container>
</section>