<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs">
        <li class="breadcrumbs-after">
          <a [routerLink]="['/']">
            <span>Головна</span>
          </a>
        </li>
        <li>
          <span>Вакансії</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<section>
  <h1 class="title">Приєднуйся до команди
    <span>NOA</span>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-4">
        <div class="news-item">
          <div class="news-imgs">
            <a [routerLink]="['kyhar-wok']">
              <img src="../../../assets/images/vacansies/kyhar-Wok/kuhar_wok_ramen_614x370.jpg" alt="">
            </a>
          </div>
          <div>
            <h5 class="title">
              <a [routerLink]="['kyhar-wok']">Кухар WOK</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-4">
        <div class="news-item">
          <div class="news-imgs">
            <a [routerLink]="['sychyst']">
              <img src="../../../assets/images/vacansies/syshyst/syshi_614x370.jpg" alt="">
            </a>
          </div>
          <div>
            <h5 class="title">
              <a [routerLink]="['sychyst']">Кухар суші</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-4">
        <div class="news-item">
          <div class="news-imgs">
            <a [routerLink]="['kyhar-ramen']">
              <img src="../../../assets/images/vacansies/kyhar-Wok/kuhar_wok_ramen_614x370.jpg" alt="">
            </a>
          </div>
          <div>
            <h5 class="title">
              <a [routerLink]="['kyhar-ramen']">Кухар рамен</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-4">
        <div class="news-item">
          <div class="news-imgs">
            <a [routerLink]="['barmen']">
              <img src="../../../assets/images/vacansies/barmen/barmen_614x370.jpg" alt="">
            </a>
          </div>
          <div>
            <h5 class="title">
              <a [routerLink]="['barmen']">Бармен</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-120"></div>
</section>