<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs">
        <li class="breadcrumbs-after">
          <a [routerLink]="['/']">
            <span>Головна</span>
          </a>
        </li>
        <li>
          <span>Вакансії</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<section>
  <h1 class="title">Приєднуйся до команди
    <span>NOA</span>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-4">
        <div class="news-item">
          <div class="news-imgs">
            <a href="#">
              <img src="../../../assets/images/vacansies/dsc_9957-scaled-614x370.jpg" alt="">
            </a>
          </div>
          <div>
            <h5 class="title">
              <a href="#">Кухар WOK</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-4">
        <div class="news-item">
          <div class="news-imgs">
            <a href="#">
              <img src="../../../assets/images/vacansies/photo-1615750824451-cdf6c3b7e06a-e1620203785118-614x370.jpg"
                alt="">
            </a>
          </div>
          <div>
            <h5 class="title">
              <a href="#">Кухар суші</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-4">
        <div class="news-item">
          <div class="news-imgs">
            <a href="#">
              <img src="../../../assets/images/vacansies/dsc_9957-scaled-614x370.jpg" alt="">
            </a>
          </div>
          <div>
            <h5 class="title">
              <a href="#">Кухар рамен</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-4">
        <div class="news-item">
          <div class="news-imgs">
            <a href="#">
              <img src="../../../assets/images/vacansies/photo-1595751866979-de6e9d606220-614x370.jpg" alt="">
            </a>
          </div>
          <div>
            <h5 class="title">
              <a href="#">Бармен</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-120"></div>





</section>